.col {
  background-color: blanchedalmond;
  color: black;
}

body {
  margin-top: 80px;
}

#perfil {
  width: 100%;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  margin: 0 0 2rem 0;
  border-image-outset: 10px;
  object-fit: cover;
}

#saludo {
  text-align: center;
  color: whire;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

#description-proyect {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  justify-content: center;
}

.arte {
  background-color: #e2e2e2;
  border-radius: 10px;
  padding: 10px;
  color: #00001a;
  text-align: left;
  transition: transform 0.2s ease-in-out;

}

.ulfondo {
  background-color: aliceblue;
  border-radius: 30%;
  display: flex;
  white-space: nowrap;
}

.navbar {
  background-color: #1f1f1f;
  color: white;
}

.nav-item a,
.navbar a {
  color: white;
}

.recolor {
  background-color: #1f1f1f;
  color: white;
}
.frase {
  color: white;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}
a {
  display:contents;
  color: none;
  text-decoration: none;
  color: #e2e2e2;
}
  a:active {
  text-decoration: none;
  display:contents;
  width: auto;
  color: #1f1f1f;
  height: auto;
  padding: 0 ;
  margin: 0;
  }

a:hover {
  color: #ffffeb; 
  text-decoration: none;
}

.arte:hover {
  transform: scale(1.05);
  background-color: #e2e2e2;
  padding: 10px;
  color: #00001a;
  text-align: left;
  text-decoration: none;
  
}
li{
  color:white;
  font-size: 30px;
  margin: 0 20px;
}






